@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  box-sizing: border-box;
  cursor: none;
}

body{
  padding: 5em 7em;
  font-family: sans-serif;
}

h2{
  font-size: 5.5em;
  color: darkcyan;
  font-family: 'Indie Flower', cursive;
}

button {
  margin: 0.5em;
  border-radius: 15px;
  border: none;
  padding: 0.7em;
}

button:hover {
  background-color: cadetblue;
  color: white;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid green;
}

.cursor {
  opacity: .5;
  position: fixed;
  pointer-events: none;
}

.cursor2 {
  z-index: -3;
  opacity: 0.35;
  transition: all .2s ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
}

.cursor3 {
  z-index: -3;
  opacity: 0.2;
  transition: all .4s ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
}

.cursorinnerhover {
  opacity: 1;
}
